@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body, header, nav, section, aside, footer, div{
    display: block;
}

body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 70px;    
    color: white;

    background: -webkit-linear-gradient(top, hsl(198, 83%, 5%), hsl(204, 32%, 31%));
    background: -moz-linear-gradient(top, hsl(198, 83%, 5%), hsl(204, 32%, 31%));
}

h1{
    text-align: center;
    font-size: 45px;
}

#contenido{
    margin: 0px auto;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
    flex-grow: 1;
    width: 1024px;
    height: 768px;
}

#menu{
    float: left;
    width: 150px;
    margin-top: 20px;
    transition: all 0.5s;
}

#bt_principales button{
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    border-bottom: 2px solid rgba(255,255, 255, 0.5);
    color: white;
}

#bt_niveles{
    margin-top: 50px;
}

#bt_niveles button{
    display: block;
    width: 100px;
    height: 30px;
    margin-top: 5px;
    color: white;
}

#bt_principales button:nth-child(odd){
    background: -webkit-linear-gradient(top, rgb(149, 14, 14), #7e1a1a);
    background: -moz-linear-gradient(top, rgb(149, 14, 14), #7e1a1a);
}

#bt_principales button:nth-child(even){
    background: -webkit-linear-gradient(top, rgb(4, 32, 46), hsl(204, 32%, 31%));
    background: -moz-linear-gradient(top, rgb(4, 32, 46), hsl(204, 32%, 31%));
}

#bt_niveles button:nth-child(odd){
    background: #054744;
}

#bt_niveles button:nth-child(even){
    background: #b63806;
}

#menu button:hover{
    background: rgba(77, 77, 77, 0.89);
    color: black;
}

#juego{
    width: 550px;
    float: left;
    margin: 20px 0;
    margin-left: 50px;
}

#tablero{
    position: absolute;
	display: block;
    margin-top: 0px;
}

#tablero ul img{
	width: 35px;
    height: 35px;
    padding: 0;
    margin: -2px 0.5px;
    list-style-type: none;
    display: inline-block;
}

#figuras{
    display: block;
    float: right;
    margin: 20px 0;
}

#figuras ul img{
    width: 35px;
    height: 35px;
    padding: 0%;
    margin: -2px 0.5px;
    display: inline-block;
}

#pie{
    width: 100%;
    display: block;
    clear: both;
    text-align: center;
    background: -webkit-linear-gradient(top, hsl(198, 83%, 5%), hsl(204, 32%, 31%));
    background: -moz-linear-gradient(top, hsl(198, 83%, 5%), hsl(204, 32%, 31%));
    color: white;
    position: fixed;
    left: 0;
    bottom: 0%;
}

#img_pie{
    float: left;
    display: block;
    margin-left: 200px;    
}

#img_pie img{
    width: 150px;
    height: 90px;
}

#lista_pie{
    list-style: none;
}